<!doctype html>
<html lang="en">
  <head>
    <title>FCC TimeStamp MicroService</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <style>
    code a {
      color: #c7254e;
    }
    code a:hover {
      color: #c7254e;
    }
  </style>
  <body>
    <div class='container'>
    <div class="page-header">
      <h1>FCC TimeStamp MicroService</h1>
    </div>
    <div>
      <h2>What is this?</h2>
      <p>
        This is a microservice API project for Free Code Camp that will accept either a natural date format
        or a unix formatted date and return a json response with the date formatted
        as both. If the input is neither it will return <code>null</code> values.
      </p>
      <h3>Usage:</h3>
      <code><a href='https://skc-timestamp-ms.herokuapp.com/January 10, 2015' target='blank'>https://skc-timestamp-ms.herokuapp.com/January 10, 2015</a></code><br /><br />
      <code><a href='https://skc-timestamp-ms.herokuapp.com/1420848000' target='blank'>https://skc-timestamp-ms.herokuapp.com/1420848000</a></code>
      <h3>Example Response:</h3>
      <code>{ natural: "January 10, 2015", unix: "1420848000" }</code>
      <hr />
      <h3>Created by:</h3>
      <p><a href='http://sanatan.gq' target='blank'>Sanatan K. Chaudhary</p>

    </div>
    </div>
  </body>